<form role="form" action="/drives" accept-charset="UTF-8" method="post">
  <form class="needs-validation" novalidate>
    <div class="form-row required">
      <div class="col-sm-11 col-md-11 col-lg-11 mb-3">
        <label for="validationCustom01" class="mb-1">Airport</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Airport" name="drive[airport]" required>
        <div class="invalid-feedback">
          Please provide a valid airport.
        </div>
      </div>
    </div>
    <div class="form-row required">
      <div class="col-sm-11 col-md-11 col-lg-11 mb-2">
        <select class="custom-select" id="customSelectValidation" for="customSelectValidation" name="drive[spot]" required>
          <option selected>Number of spots</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
        </select>
      </div>
    </div>
    <div class="form-row required">
      <div class="col-sm-11 col-md-11 col-lg-11 mb-2">
        <label for="validationCustom02" class="mb-1">Date</label>
        <%  date=Time.now.strftime("%Y-%m-%d") %>
        <input class="form-control" type="date" value="<%= date %>" id="validationCustom02" name="drive[date]" required>
      </div>
    </div>
      <div class="form-row required">
        <div class="col-sm-11 col-md-11 col-lg-11 mb-2">
          <label for="validationCustom03" class="mb-1">Time</label>
          <% time=Time.now.strftime("%H:%M") %>
          <input class="form-control" type="time" value="<%= time %>" id="validationCustom03" name="drive[time]" required>
       </div>
     </div></br></br>
    <button class="btn btn-dark mt-5" type="submit">Submit form</button>
  </form>
</form>
