<div class="bg-nav">
  <div class="container col-11">
    <ul class="nav h6">
      <li class="nav-item">
        <%= link_to "Offered", drives_path, class: "nav-link btn-outline-dark text-white", style: "text-decoration: none" %>
      </li>
      <li class="nav-item">
        <%= link_to "Needed", needed_drives_path, class: "nav-link btn-outline-dark text-white", style: "text-decoration: none" %>
      </li>
    </ul>
  </div>
</div>
