<% if !current_user.drives.any? %>
  <%= render partial: "/drives/form"%>
<% elsif  %>
  <%= render partial: "/drives/nav" %>
  <div class="container mb-5 mt-5">
    <h2>My offered Rides</h2>
    <div class="row mt-0">
        <%= render partial: "/drives/offered_rides" %>
    </div>
  </div>
  <div class="mt-5">
    <%= render partial: "/drives/form"%>
  </div>
<% end %>
