<footer id="footer" class="fixed-bottom">
  <div class="container col-12">
  <div class="row">
    <div class="col-12">
      <hr class="white">
    </div>
  </div>
  <div class="row text-white-50 small">
    <div class="col-5">
      © 2018 DW Rides
    </div>
    <div class="col-7 text-right">
      Made with ♥ in San Francisco
    </div>
  </div>
</div>
</footer>
