<div class="bg-container container-hover">
  <div class="container d-flex flex-column flex-md-row justify-content-md-center">
    <div class="bg-white w-100" style="height: 590px">
      <div class="p-3 p-md-5">
        <div class="container col-12 form">
          <h2 class="mb-3">Enter event</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
