/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import "bootstrap-datepicker";
 #img-box {
    margin: 0;
    padding: 0;
  }

 html {
   position: relative;
   min-height: 100%;
   padding-bottom:35px;
 }
 body {
   margin-bottom: 90px;
 }

 #arrow {

    transform: rotate(90deg);

 }

 @media (max-width: 767px) {
  .bgimg {
    display: none;
  }
  #intro-txt {
    font-size: 20px;
    & span {
      font-size: 20px;
    }
  }
  #intro-lg-break {
    display: none;
  }
}

.alert-alert {
   @extend .alert-warning;
 }

.alert-notice {
  @extend .alert-success;
}

.alert-success {
  @extend .alert-success;
}

.alert-error {
  @extend .alert-danger;
}


 .bg-nav {
     background-color: 	#e10a0a;
    //  opacity: 0.9;
    // filter: brightness(100%);
    //  filter: drop-shadow(8px 8px 10px gray);
 }

 p, h1, h2, h3, h4 .nav-item, .container {
     font-family: "TTNorms-Light", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .container {
     font-family:  "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-style: normal;
 }

 .navbar-brand {
   font-family: "TTNorms-Light", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-style: normal;
 }

.navbar-nav .nav-item, .user-name, .nav-button{
     font-family: "TTNorms-Light", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-style: normal;
 }

.bg-secondary-block {
  background-color: #FDC898;
 }

.bg-primary-block {
 background-color: #53868B;
}
// #e10a0a

.btn.bg-button {
  // background-color: #00008b
  // #563d7c
}

.form-row.required label:after {
  content:"*";
  color:red;
}

.bg-container {
  // background-color: #FFFFFF
  // background-image: url("https://res.cloudinary.com/dbo1mgpii/image/upload/v1525225670/DWBA7311_olesgau_0191_raw-scr.jpg")
}
