.navbar-brand {
  font-family: "TTNorms-Light", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navbar-nav .nav-item, .user-name, .nav-button{
  font-family: "TTNorms-Light", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bg-nav {
  background-color: #e10a0a;
 }
