<!-- <%= render partial: "/rides/nav" %>
<div class="container mb-5 mt-5">
  <h2>My Requested Rides</h2>
  <div class="row mt-0">
    <div class="col-9">
      <div class="row mt-0">
        <%= render partial: "/rides/requested" %>
      </div>
    </div>
  </div>
</div> -->

<!-- <%= render partial: "/rides/nav" %> -->
<div class="container mt-3">

<!-- <div class="card w-100">
  <div class="card-header">
    <strong>
      <h5>My Rides</h5>
    </strong> -->
  <!-- </div>
  <div class="card-body">
    <p class="card-text"><%= link_to "Alberta, Canada 09/26/2018", offered_rides_path, class: "text-muted"%><i class="material-icons text-danger mb-3">notifications_active</i></p>
    <p class="card-text">New York City 11/25/2018</p>
  </div> -->
<!-- </div> -->

<table class="table">
  <tbody>
    <tr>
      <td>Sep 16</td>
      <td >New York, NY</td>
      <td>Lecture with Lama Ole Nydahl </td>
      <td>offered</td>
      <td><i class="material-icons text-danger mb-3" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-content="Ride is requested">notifications_active</i></td>
    </tr>
    <tr>
      <td>Sept 26</td>
      <td >Chestermere, Canada</td>
      <td>CANADA COURSE WITH LAMA OLE NYDAHL</td>
      <td>requested</td>
      <td><i class="material-icons text-danger mb-3" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-content="Ride is offered">notifications_active</i></td>
    </tr>
  </tbody>
</table>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').popover();
});
</script>
