<%= render partial: "/rides/nav" %>
<div class="card w-50 mt-5 ml-5">
  <div class="card-header">
    <strong>
      <h5>My Offered Rides</h5>
    </strong>
  </div>
  <div class="card-body">
    <p class="card-text"><%= link_to "Alberta, Canada 09/26/2018", offered_rides_path, class: "text-muted"%><i class="material-icons text-danger mb-3">notifications_active</i></p>
    <p class="card-text">New York City 11/25/2018</p>
  </div>
</div>
